body{
    margin: 0;
}

ul{
list-style: none;
}

@media screen and (min-width:424px) and (max-width: 767px) {
    .container {
        width: 428px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .container {
        max-width: 768px;
    }
}

 @media screen and (min-width: 1158px) {

     .main.container {
        max-width: 1338px;
        height: 672px;
        background-image: url(../image/backgr-desck.jpeg);
        border-radius: 0px 40px 40px 0px;;
     }
     
     .main-content{
        display: flex;
     }
    }